body
{
    background-color: black;
    color: white;
}


    table, table tr td
{
    border: 1px solid;
    border-collapse: collapse;
}

.section_title
{
    font-weight: bold;
}

.note
{
    color: #777;
}

.title
{
    font-weight: bold;
    text-align: center;
}

.alias
{
    width: 150px;
    table-layout: fixed;
}

.versus
{
    width: 100px;
    text-align: center;
}

.original
{
    width: 300px;
}

.hitpoint
{
    width: 100px;
}

.armor, .cost, .power, .drain, .speed
{
    width: 80px;
    text-align: center;
}

.warhead
{
    width: 100px;
    text-align: center;
}

.chinese
{
    width: 120px;
}

.description
{
    width: 600px;
    table-layout: fixed;
    word-wrap: break-word;
}

.seemless_anchor
{
    cursor:pointer;
    text-decoration:underline;
}